@import url('https://fonts.googleapis.com/css?family=MuseoModerno');

@font-face {
  font-family: 'MuseoModerno:400', cursive;
  src: url('https://fonts.googleapis.com/css?family=MuseoModerno');
}

.login {
  display: grid;
  background-color: #585858;
  height: 100vh;
  place-items: center;
}

.login > img {
  height: 200px;
}

.login > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: rgb(209, 7, 7);
}
