.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 10px;
  width: 300px;
  height: 746px;
  color: white;
  background-color: #292929;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}

.sidebar__top {
  margin-top: 10px;
  display: flex;
  align-items: center;
}